*{
  margin: 0px;
  font-family: 'inter';
}
#menusup{
    background-image: url(imagens/fundo.svg);
    color: white;
}
#logo{
   margin-left: 50px;
   margin-top: 50px;
}
#title{
    margin-left: 152px;
    margin-top: 50px;
}
#titlep{
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
}
#inf{ 
  background-color: #eaece5;
  display: grid;
  grid-auto-flow: column;
  columns: auto;
}
.icon{
    margin: 50px 0px 50px 100px;
    padding-bottom: 10px;
}
.textinf{
display: flex;
align-items: center;
margin-left: 25px;
}
#video{
display: grid;
grid-auto-flow: column;
columns: auto;

}
#titlevideo{
  color: #247BA0;
}
#pvideo{
  color: #383838;
}
#videoplay{
  margin: 50px 25px 50px 100px;
}
#contvideo{
  margin: 50px 25px 50px 100px;
}
#carrosel{
  background-color: #247BA0;
  padding: 50px;
}
#titlecarrosel{
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 25px;
}
#divcards{
  display: grid;
  grid-auto-flow: column;
}
.card{
  margin-left: 50px;
}

#setaesquerda{
  display:none;
  align-items: center;
}
.seta{
  margin-top: 55%;
  cursor: pointer;
}
#bruna{
 display: none;
}
#setadireita {
  align-items: center;
}
.seta:hover{
  transform: translateY(-7px);
  transition-duration: 0.5s;
}
#formulario{
  text-align: center;
}
#titleforms{
  font-size: 25px;
  margin: 25px;
  color: #383838;
}

input{
  width: 300px ;
  height: 40px;
  background-color: #eaece5;
  margin: 15px;
  border: 0px;
  border-radius: 5px;
  padding-left: 10px;
}
button{
  background-color: #247BA0;
  height: 40px;
  width: 250px;
  color: #eaece5;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 50px;
  font-weight: bolder;
  cursor: pointer;
  transition-duration: 5s;
}
button:hover{
  background-color: #2a9bcc;
  color: white;
  transform: translateY(-7px);
  box-shadow: 0px 15px 20px #02435f
}